body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

#home {
    background: url('../img/landing_page.jpg') no-repeat center center/cover;
    color: #fff;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1, #home p {
    background-color: rgba(128, 128, 128, 0.7); /* אפור עם שקיפות של 70% */
    padding: 1rem;
    border-radius: 5px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
}

video {
    width: 100%;
    max-width: 600px;
    margin: 1rem 0;
}

.screenshots {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.screenshots img {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}